<% layout("/layouts/boilerplate") %>

    <body>
        <h1 style="text-align: center;">Edit Post</h1> <br>
        <form method="post" action="/listings/<%=listing._id%>?_method=PUT"class="needs-validation" novalidate >
            <div class="row">
                <div class="col-6 offset-3">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" required class="form-control" value="<%= listing.title %>" />
                        <div class="invalid-feedback">
                            <i>Please enter a Title</i> 
                         </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" required name="listing[description]" rows="4"
                            class="form-control"> <%= listing.description %></textarea>
                            <div class="invalid-feedback">
                                <i>Description should be short </i> 
                             </div>
                    </div>
                    <div class="mb-3">
                        <label for="url" class="form-label">URL</label>
                        <input type="text" name="listing[image.url]" class="form-control"
                            value="<%=listing.image.url%>" required/>
                        </div>
                        <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" class="form-control"
                            value="<%= listing.location %>" required />
                            <div class="invalid-feedback">
                                <i>Location should be valid</i> 
                             </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3   ">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="listing[price]" class="form-control"
                                value="<%= listing.price %>" required />
                                <div class="invalid-feedback">
                                    <i>Price should be valid</i> 
                                 </div>
                        </div>
                        <div class=" col-md-8 mb-3">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]" class="form-control"
                                value="<%= listing.country %>" required />
                                <div class="invalid-feedback">
                                    <i>Country should be valid</i> 
                                 </div>
                        </div>
                    </div>
                    <div class="row justify-content-start mb-2">
                        <div class="col-md-2 col-sm-1 d-flex justify-content-between">
                            <a href="/listings" class="btn btn-success">Home</a>
                        </div>
                        <div class="col-md-2 col-sm-1 d-flex justify-content-between">
                            <form method="post" action="/listing/<%=listing._id%>?_method=PUT">
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </form>
    </body>