<% layout("/layouts/boilerplate") %>
<body>
    <h1>Edit Post</h1>
    <form method="post" action="/listings/<%=listing._id%>?_method=PUT">
        <input type="text" name="listing[title]" value="<%= listing.title %>"/><br><br>
        <textarea type="text" name="listing[description]" rows="8" cols="30"><%= listing.description %></textarea><br>
        <input type="number" name="listing[price]" value="<%= listing.price %>"/><br>
        <input type="text" name="listing[image]" value="<%=listing.image.url%>"/><br>
        <input type="text" name="listing[location]" value="<%= listing.location %>"/><br>
        <input type="text" name="listing[country]" value="<%= listing.country %>"/><br>
        <button>Edit</button>
    </form>
</body>