<% layout("/layouts/boilerplate") %>

    <body>
        <div class="container">
            <div class="row justify-content-center mt-3">
                <div class="col-md-8">
                    <h1><b><%=listing.title%></b></h1>
                    <img src="<%=listing.image.url%>" class="show-img" alt="listing_image">
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-8 col-sm-10 col-12 text-body-primary">
                    <div class="content">
                        <p> <b>Description:</b> <i>
                                <%=listing.description%>
                            </i></p>
                        <p><b>Price:</b> <span class="btext">&#8377 <%=listing.price.toLocaleString("en-IN")%></span>/
                            Night</p>
                        <p><b>Location:</b>
                            <%=listing.location%>, <span class="btext">
                                    <%=listing.country%>
                                </span> <i class="fa-solid fa-location-dot"></i>
                        </p>
                    </div>

            <div class="row justify-content-start mb-2">
                <div class="col-md-2 col-sm-1 d-flex justify-content-between">
                    <form method="post" action="/listing/<%=listing._id%>?_method=DELETE">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <div class="col-md-2 col-sm-1 d-flex justify-content-between">
                    <a href="/listings/<%=listing._id%>/edit" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </div>
        </div>
    </body>